:root {
    --tomato: hsl(4, 100%, 67%);

    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);

    --body-font-size: 16px;
}


.body-con {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: pink;
}

.card-bottom-half {
    padding: 1em 2em 1em 1em;
}

.footer-con {   
    background-color: aqua;
}

.main-con {
    flex: 1;
}

.success-card-con {
    display: none;
}

.title {
   font-size: clamp(1em, calc(2em + 1.5vw), 15em); 
   padding-block-end: 1.5rem;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

