:root {
    --tomato: hsl(4, 100%, 67%);

    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);

    --body-font-size: 16px;
}


.body-con {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--charcoal-grey);
    align-items: center;
    justify-content: center;

}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: var(--white);
    max-inline-size: clamp(20rem, calc(70em + 1.5vw), 80rem);
}
.card-bottom-half {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1em 2em 1em 1em;
    font-size: clamp(0.65em, calc(0.65em + 1.5vw), 5rem);
    color: var(--charcoal-grey);;
}

.footer-con {   
   color: var(--white);
   width: 100vw;
   justify-self: end;
}

.input-con {
    display: flex;
    flex-direction: column;
}

.input-lab {
    font-size: clamp(0.5rem, calc(0.5rem + 1.5vw), 1rem);
    padding-block: 2rem 1rem;
    color: var(--dark-slate-grey);
    display: flex;
    justify-content: space-between;
}

.email-error {
    color: var(--tomato);
}

.input-textbox {
    padding: 1rem;
    margin-block-end: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--grey);
    font-size: clamp(1rem, calc(0.5rem + 1.5vw), 3rem);
}

input:invalid {
    border-color: #900;
    background-color: #fdd;
}

input:focus:invalid {
    outline: none;
}

li {
    display: flex;
    align-items: center;
    padding-block-end: 0.5rem;
    line-height: 1.5;
}

li::before {
    content: url('../assets/images/icon-list.svg');
    align-self: flex-start;
    padding-inline-end: 0.5rem;
}

.list-title {
    padding-block-end: 1.5rem;
}




.main-con {
    flex: 1;
    display: grid;
    justify-content: center;
    
}

.success-card-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 100vh;

    background-color: var(--white);
    padding: 2rem;

    
}

.success-card-con>img {
    width: 60px;
    padding-block-start: 2rem;
    padding-block-end: 2rem;
    
}
.success-text {
    color: var(--dark-slate-grey);
    padding-block-end: 1rem;
    line-height: 1.5;
}


.dismiss-btn {
    margin-block-start: auto;
    margin-block-end: 2rem;
}

.title {
   font-size: clamp(1rem, calc(2rem + 1.5vw), 15rem); 
   padding-block-end: 1.5rem;
   color: var(--dark-slate-grey);
}

.sub-btn {
   background-color: var(--dark-slate-grey);
   color: var(--white);
   text-align: center;
   padding-block: 1.25rem;
   border-radius: 10px;
    margin-block-start: auto;
    margin-block-end: 2rem;
    
}


@media (min-width: 600px) {
    .body-con {
        display: grid;
    }

    .card {
        flex-direction: row-reverse;
        border-radius: 10px;
        /* max-block-size: clamp(20rem, calc(40rem + 1.5vw), 50rem); */
    }
    
    .footer-con {
        align-self: flex-end;
    }
    .image-con {
        padding: 1rem;
    }

    .success-card-con {
        display: grid;
        border-radius: 10px;
        max-inline-size: clamp(20rem, calc(20rem + 1.5vw), 43rem);
        max-block-size: clamp(20rem, calc(23rem + 1.5vw), 45rem);
    }

    .dismiss-btn:hover {
        background-color: var(--tomato);
        box-shadow: 0px 10px 20px var(--tomato);
    }

    
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.hide {
    display: none;
}