:root {
    --tomato: hsl(4, 100%, 67%);

    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);

    --body-font-size: 16px;
}


.body-con {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--dark-slate-grey);
    align-items: center;
    justify-content: center;

}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}
.card-bottom-half {
    display: flex;
    flex-direction: column;
    padding: 1em 2em 1em 1em;
    font-size: clamp(0.65em, calc(0.65em + 1.5vw), 5rem);
    color: var(--charcoal-grey);;
}

.footer-con {   
    background-color: aqua;
}

.input-con {
    display: flex;
    flex-direction: column;
}

.input-lab {
    font-size: clamp(0.5rem, calc(0.5rem + 1.5vw), 1rem);
    padding-block: 2rem 1rem;
    color: var(--dark-slate-grey)
}

.input-textbox {
    padding: 1rem;
    margin-block-end: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--grey);
    font-size: clamp(1rem, calc(0.5rem + 1.5vw), 3rem);
}

li {
    display: flex;
    align-items: center;
    padding-block-end: 0.5rem;
    line-height: 1.5;
}

li::before {
    content: url('/assets/images/icon-list.svg');
   
    align-self: flex-start;
    padding-inline-end: 0.5rem;
}

.list-title {
    padding-block-end: 1.5rem;
}



.main-con {
    flex: 1;
}

.success-card-con {
    display: none;
}

.title {
   font-size: clamp(1rem, calc(2rem + 1.5vw), 15rem); 
   padding-block-end: 1.5rem;
   color: var(--dark-slate-grey);
}

.sub-btn {
   background-color: var(--dark-slate-grey);
   color: var(--white);
   text-align: center;
   padding-block: 1.25rem;
   border-radius: 10px;
}

@media (min-width: 600px) {
    .body-con {
        display: grid;
    }
    .footer-con {
        align-self: flex-end;
    }
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

